* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input,
button {
  font-size: 100%;
  font: inherit;
}
