.error {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 18px;
  background-color: #c4c4c4;
  border-radius: 8px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 244px;
    h4 {
      font-size: 14px;
    }
    div {
      font-size: 13px;
    }
  }
  &__pink {
    padding: 8px 16px;
    font-weight: 500;
    color: $white-color;
    background-color: $error-pink-color;
    border-radius: 50vw;
  }
  &__close {
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
