.search-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  width: 646px;
  margin-top: 16px;
  border: 1px solid $text-second-black-color;
  border-radius: 24px;
  background-color: $white-color;
  &__body {
    display: flex;
    flex-direction: column;
    gap: 2px;
    > div {
      position: relative;
      width: 600px;
      height: 63px;
      &:not(:last-child) {
        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: -1.5px;
          margin: 0 auto;
          width: 430px;
          height: 1px;
          background-color: #f2f4f5;
        }
      }
    }
  }
  a {
    margin-top: 8px;
    color: $text-black-color;
    font-weight: 700;
  }
}
