.slider {
  display: flex;
  align-items: center;
  gap: 24px;
  &__cards {
    width: 1029px;
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background-color: #eee;
    border-radius: 50vw;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
}
