$main-color: #204080;
$gray-color: #eeeeee;
$bg-color: #fcfcfc;
$text-black-color: #090a0a;
$text-second-black-color: #484848;
$text-gray-color: #72777a;
$text-white-color: #ffffff;
$button-hover-color: #4f75c2;
$input-placeholder-color: #646464;
$label-text-color: #686868;
$error-text-color: #ff0000;
$error-pink-color: #ff4e78;
